@using VeriTasiyicilar.Models

@model List<Product>

@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="alert-success text-center">Viewbag ve Model kullanılarak oluşturuldu.</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@ViewBag.Kategori kategorisine ait ürünler</h3>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Ürün Adı</th>
                <th>İşlem</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td><a href="/Product/Detail/@item.Id" class="btn btn-primary"> Detay</a></td>
                </tr>
            }
        </table>

    </div>
</div>

