
@{
    ViewBag.Title = "Blog Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(../../Static/template-shop/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>blog details</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li> blog details</li>
            </ul>
        </div>
    </div>
</div>
<!-- blog-area start -->
<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    <div class="sidebar-widget mb-50">
                        <img src="~/Static/template-shop/img/blog/blog-sidebar.jpg" alt="">
                        <div class="sidebar-img-content">
                            <p>On the other hand, dislike men who are so beguiled and the demoralized by the charms of pleasure of the moment.</p>
                            <h4>Tayeb rayed</h4>
                            <span>UI UX Designer</span>
                            <div class="sidebar-img-social">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-tumblr"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-instagram-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form action="#">
                                <input placeholder="Search Products..." type="text">
                                <button><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <li><a href="#">Design <span>4</span></a></li>
                                <li><a href="#">Development <span>9</span></a></li>
                                <li><a href="#">Wordpress <span>5</span> </a></li>
                                <li><a href="#">Research <span>3</span></a></li>
                                <li><a href="#">Hunki panki <span>4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-top-rated-all">
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="~/Static/template-shop/img/product/sidebar-product/1.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <span>Feb 13,  2018</span>
                                        <h4><a href="#">Diffrent title gose here. Thisisdemo title.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="~/Static/template-shop/img/product/sidebar-product/2.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <span>Feb 13,  2018</span>
                                        <h4><a href="#">Diffrent title gose here. Thisisdemo title.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="~/Static/template-shop/img/product/sidebar-product/3.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <span>Feb 13,  2018</span>
                                        <h4><a href="#">Diffrent title gose here. Thisisdemo title.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-top-rated mb-30">
                                <div class="single-top-rated">
                                    <div class="top-rated-img">
                                        <a href="#"><img src="~/Static/template-shop/img/product/sidebar-product/4.jpg" alt=""></a>
                                    </div>
                                    <div class="top-rated-text">
                                        <span>Feb 13,  2018</span>
                                        <h4><a href="#">Diffrent title gose here. Thisisdemo title.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <h3 class="sidebar-title">Instagram</h3>
                        <ul id="Instafeed"></ul>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <h3 class="sidebar-title">Social Network</h3>
                        <div class="social-network">
                            <a href="#">
                                <i class="ion-social-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="ion-social-tumblr"></i>
                            </a>
                            <a href="#">
                                <i class="ion-social-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="ion-social-instagram-outline"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="blog-tags-style">
                            <ul>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Print</a></li>
                                <li><a href="#">Adobe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-details-style">
                    <div class="blog-part">
                        <img src="~/Static/template-shop/img/blog/blog-details.jpg" alt="news">
                        <div class="blog-info-details mt-20">
                            <h3>Lorem Ipsum is simply dummy text of the printing</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat. Duis aute irure dol in reprehenderit in voluptate velit</blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                    </div>
                    <div class="news-details-bottom mtb-60">
                        <h3 class="leave-comment-text">Comments</h3>
                        <div class="blog-top">
                            <div class="news-allreply">
                                <a href="#"><img src="~/Static/template-shop/img/blog/4.jpg" alt=""></a>
                            </div>
                            <div class="blog-img-details">
                                <div class="blog-title">
                                    <h3>Salim Rana</h3>
                                    <span>14 October, 2016 at 6 : 00 pm</span>
                                </div>
                                <p class="p-border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore i aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                <a href="#">reply</a>
                            </div>
                        </div>
                        <div class="blog-top blog-middle-mrg">
                            <div class="news-allreply">
                                <a href="#"><img src="~/Static/template-shop/img/blog/5.jpg" alt=""></a>
                            </div>
                            <div class="blog-img-details">
                                <div class="blog-title">
                                    <h3>Tayeb Rayed</h3>
                                    <span>14 October, 2016 at 6 : 00 pm</span>
                                </div>
                                <p class="p-border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore i aliqua. Ut enim ad minim veniam. </p>
                                <a href="#">reply</a>
                            </div>
                        </div>
                        <div class="blog-top">
                            <div class="news-allreply">
                                <a href="#"><img src="~/Static/template-shop/img/blog/6.jpg" alt=""></a>
                            </div>
                            <div class="blog-img-details">
                                <div class="blog-title">
                                    <h3>farhana shuvo</h3>
                                    <span>14 October, 2016 at 6 : 00 pm</span>
                                </div>
                                <p class="p-border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore i aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                <a href="#">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="leave-comment">
                        <h3 class="leave-comment-text">Write a comment</h3>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="leave-form">
                                        <input placeholder="Name*" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="leave-form">
                                        <input placeholder="Email*" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-leave">
                                        <textarea placeholder="Comment*"></textarea>
                                        <button class="submit btn-hover" type="submit">Send Commant</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->
