
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <img src="~/Static/template-shop/img/loading.gif" />
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(../Static/template-shop/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>blog page</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li> blog </li>
            </ul>
        </div>
    </div>
</div>
<!-- blog-area start -->
<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="#"><img src="~/Static/template-shop/img/blog/1.jpg" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="#">Standard blog post.</a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li>February 13</li>
                                <li><a href="#">Momen Bhuiyan</a></li>
                                <li><a href="#">4 comments</a></li>
                            </ul>
                        </div>
                        <p>Lorem ipsum dolor sit amet, sectetur adipising elit, sed do eimod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="#"><img src="~/Static/template-shop/img/blog/2.jpg" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="#">But I must explain to you.</a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li>February 13</li>
                                <li><a href="#">Momen Bhuiyan</a></li>
                                <li><a href="#">4 comments</a></li>
                            </ul>
                        </div>
                        <p>Lorem ipsum dolor sit amet, sectetur adipising elit, sed do eimod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="#"><img src="~/Static/template-shop/img/blog/3.jpg" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="#">Lorem ipsum dolor sit.</a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li>February 13</li>
                                <li><a href="#">Momen Bhuiyan</a></li>
                                <li><a href="#">4 comments</a></li>
                            </ul>
                        </div>
                        <p>Lorem ipsum dolor sit amet, sectetur adipising elit, sed do eimod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="#"><img src="~/Static/template-shop/img/blog/3.jpg" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="#">Lorem ipsum dolor sit.</a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li>February 13</li>
                                <li><a href="#">Momen Bhuiyan</a></li>
                                <li><a href="#">4 comments</a></li>
                            </ul>
                        </div>
                        <p>Lorem ipsum dolor sit amet, sectetur adipising elit, sed do eimod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="#"><img src="~/Static/template-shop/img/blog/1.jpg" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="#">Standard blog post.</a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li>February 13</li>
                                <li><a href="#">Momen Bhuiyan</a></li>
                                <li><a href="#">4 comments</a></li>
                            </ul>
                        </div>
                        <p>Lorem ipsum dolor sit amet, sectetur adipising elit, sed do eimod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="#"><img src="~/Static/template-shop/img/blog/2.jpg" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="#">But I must explain to you.</a></h3>
                        <div class="blog-meta">
                            <ul>
                                <li>February 13</li>
                                <li><a href="#">Momen Bhuiyan</a></li>
                                <li><a href="#">4 comments</a></li>
                            </ul>
                        </div>
                        <p>Lorem ipsum dolor sit amet, sectetur adipising elit, sed do eimod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination-style text-center">
                    <ul>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="ion-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->
