
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(../../Static/template-shop/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>About Us</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li> about us </li>
            </ul>
        </div>
    </div>
</div>
<div class="about-story ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="about-story">
                    <h3 class="story-title">Neha Story.</h3>
                    <p class="story-subtitle">Lorem ipsum dolor sit, consectetur adipisicing elit, sed doil eiusmod incididunt utb labore et dolore magna aliqua. Ut enim ad minim veniam quis nost</p>
                    <p class="story-paragraph">Lorem ipsum dolor sit, con adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitati ullamco laboris nisi ut aliquip ex ea com</p>
                    <p class="story-paragraph">Modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu dolore eu fugiat pariatur. Excepteur sint occaecat cupidatat non proident, sun in culpa qui officia deserunt molli</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="about-story-img">
                    <div class="about-story-img1">
                        <img src="~/Static/template-shop/img/banner/22.jpg" alt="">
                    </div>
                    <div class="about-story-img2">
                        <img src="~/Static/template-shop/img/banner/23.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-services pb-70">
    <div class="container">
        <div class="section-title-others text-center mb-55">
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, con adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="about-single-service text-center mb-30">
                    <img src="~/Static/template-shop/img/icon-img/9.png" alt="">
                    <h3>branding</h3>
                    <p>Lorem ipsum dolor sit amet, con adipi sicinglo elit, sed do eiusmod tempor</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-single-service text-center mb-30">
                    <img src="~/Static/template-shop/img/icon-img/10.png" alt="">
                    <h3>Free Delivery</h3>
                    <p>Lorem ipsum dolor sit amet, con adipi sicinglo elit, sed do eiusmod tempor</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-single-service text-center mb-30">
                    <img src="~/Static/template-shop/img/icon-img/11.png" alt="">
                    <h3>Gift Box</h3>
                    <p>Lorem ipsum dolor sit amet, con adipi sicinglo elit, sed do eiusmod tempor</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="video-area">
    <div class="container">
        <div class="video-banner">
            <img src="~/Static/template-shop/img/banner/24.jpg" alt="">
            <a class="video-popup" href="https://www.youtube.com/watch?v=wI4ocEF3Wfk">
                <i class="ion-ios-play"></i>
            </a>
        </div>
    </div>
</div>
<div class="brand-logo ptb-100">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            <div class="single-logo">
                <img src="~/Static/template-shop/img/brand-logo/1.png" alt="">
            </div>
            <div class="single-logo">
                <img src="~/Static/template-shop/img/brand-logo/2.png" alt="">
            </div>
            <div class="single-logo">
                <img src="~/Static/template-shop/img/brand-logo/3.png" alt="">
            </div>
            <div class="single-logo">
                <img src="~/Static/template-shop/img/brand-logo/4.png" alt="">
            </div>
            <div class="single-logo">
                <img src="~/Static/template-shop/img/brand-logo/5.png" alt="">
            </div>
        </div>
    </div>
</div>

