<!doctype html>

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- header start -->


        <div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>register</h2>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li> register </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- register-area start -->
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form action="/Kullanici/Kaydol" method="post">
                                        <input type="text" name="Ad" placeholder="Ad">
                                        <input type="text" name="Soyad" placeholder="Soyad">
                                        <input type="password" name="Sifre" placeholder="Sifre">
                                        <input type="password" name="SifreTekrar" placeholder="Sifre tekrar">
                                        <input name="Email" placeholder="Email" type="email">
                                        <input name="KullaniciAdi" placeholder="Kullanıcı adınız.." type="text">
                                        <input name="DogumTarihi" placeholder="Dogum tarihi" type="date">
                                        <div class="button-box">
                                            <button type="submit" class="default-btn floatright">Kaydol</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
       