
@{
    ViewBag.Title = "AracNestedLayout";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>AracNestedLayout</h2>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <div class="list-group-item"> <a href="/arac/ekle">Ekle</a></div>
            <div class="list-group-item"> <a href="/arac/listele">Listele</a></div>
        </div>
    </div>

    <div class="col-md-9">
        @RenderBody()
    </div>
</div>



